<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Room: {{ room_name }}</title>
    <style>
        #chat-log {
            border: 1px solid #ddd;
            padding: 10px;
            height: 300px;
            overflow-y: scroll;
            margin-bottom: 10px;
        }
        #chat-message-input {
            width: 80%;
            padding: 10px;
        }
        #chat-message-submit {
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Chat Room: {{ room_name }}</h1>
    <div id="chat-log">
        {% for message in messages %}
            {% if message.sender != user %}
                <p><strong>{{ message.sender }}:</strong> {{ message.message }}</p>
            {% else %}
                <!-- <p style="color: #000; text-align: right;"><strong>{{ message.sender }}:</strong> {{ message.message }}</p> -->
                <p style="color: #3212e4; text-align: right;"> {{ message.message }}</p>
            {% endif %}
            <!-- <p><strong>{{ message.sender }}:</strong> {{ message.message }}</p> -->
        {% endfor %}
    </div>
    <input id="chat-message-input" type="text" size="100">
    <button id="chat-message-submit">Send</button>

    <script>
        const roomName = "{{ room_name }}";
        const websocketProtocol = window.location.protocol === "https:" ? "wss" : "ws";
        const wsEndpoint = `${websocketProtocol}://${window.location.host}/ws/notification/{{room_name}}/{{user}}/`;
        const chatSocket = new WebSocket(wsEndpoint);

        chatSocket.onmessage = function(e) {
            // const data = JSON.parse(e.data)['message'];
            const messageData = JSON.parse(e.data)['message'];
            var sender = messageData['sender'];
            const chatLog = document.querySelector('#chat-log');
            if (sender != '{{user}}') { // assuming you have a variable `currentUser` to hold the current user's name
                chatLog.innerHTML += ('<p><strong>' + sender + ':</strong> ' + messageData.message + '</p>');
            } else {
                chatLog.innerHTML += '<p style="color: #3212e4; text-align: right;"><strong>' + '' + '</strong>' + messageData.message + '</p>';

                // chatLog.innerHTML += '<p style="color: #000; text-align: right;">' + messageData.message + '</p>';
            }
            // chatLog.innerHTML += ('<p><strong>' + data.sender + ':</strong> ' + data.message + '</p>');
            chatLog.scrollTop = chatLog.scrollHeight;  // Scroll to the bottom
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // Enter key
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'room_name': '{{room_name}}',
                'sender': '{{user}}',
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>
